.info_block-title {
  font-size: 1.5rem;
}

.line-between {
    height: 1.5px;
    width: 100%;
    background-color: var(--dark-blue);  
}
.our_team-container {
    background-color: var(--extra-light-blue);
}

.info_block {
    /* padding: 10px; */
    border: 1px solid var(--semi-dark-blue); 
    border-radius: 5px;
    transition: all .3s ease;
    max-width: 410px;
    background-color: #fff;
}
.info_block:hover {
    cursor: pointer;
    transform: scale(1.05);
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 15px 30px 0px rgba(44,74,82,0.15);
    -moz-box-shadow: 0px 15px 30px 0px rgba(44,74,82,0.15);
    box-shadow: 0px 15px 30px 0px rgba(44,74,82,0.15);
}
.info_block-img img {
    max-width: 100%;
}
.info_block-date{
    color: var(--smoke);
}

.info_block-author{
    font-style: italic;

}
.info_block-excerpt{
    color: var(--smoke);
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 8px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.custom_spinner_preload-container {
    display: flex;
    justify-content: center;
    min-height: 400px;
    width: 100%;
    align-items: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--info);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
.section-news-container {
    margin: 120px 0 0 0;
}

  .newsblock_innerInfo-container {
    text-align: center;
  }

  .newsblock_innerInfo-img-container {
    max-width: 500px;
  }
  .newsblock_innerInfo-img-container img{
    width: 100%;
  }

  .concord_news_block {
    font-family: 'Gilroy', sans-serif;
    
  }

  .concord_news_block-innerInfo p:first-child::first-letter {
    padding-right: 5px;
    initial-letter: 2;
  }



  /*--------------Services---------------*/
 /*--------------------------------------*/
  .services_bg-img-container {
    height: 280px;
    width: 100%;
    margin-top: 72px;
    position: relative;
    
}
  .services_bg-img-container::after {
  
    content: ''; /* Создаем пустой контент для псевдоэлемента */
    position: absolute; /* Устанавливаем абсолютную позицию */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../src/img/law-servicesV2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.7); /* Пример фильтра (превращение в черно-белое изображение) */
    z-index: -1; 
}
  .services-container {
    /* background-image: linear-gradient(to bottom, #2c4a52, #35535a, #3f5d62, #49666a, #537072); */
    background-color: var(--light-blue);
    padding: 100px 0;
    
  }
  .services_bg-img-container .main-title,
  .contact_bg-img-container .main-title,
  .about_bg-img-container .main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    font-size: 80px;
  }

  .serive-title-item {
    font-size: 20px;
    border: 1px solid var(--dark-blue);
    border-radius: 7px;
    padding: 10px;
    transition: all .1s ease-in-out;
    color: var(--dark-blue);
    background-color: var(--extra-light-blue);
  }
  .services-content {
    font-size: 25px;
    font-weight: 300;
    color: var(--dark-blue);
  }
  .serive-title-item:hover {
    cursor: pointer;
    transform: translateX(8px)
    
  }
  .serive-title-item.active {
    border: 1px solid var(--semi-dark-blue);
    color: #fff;
    background-color: var(--semi-dark-blue);
    transform: translatex(8px);
  }
  .serive-title-item-arrow i {
    color: var(--dark-blue);
  }
  .serive-title-item-arrow.active i {
    color: #fff;
  }
  @media (max-width: 992px) {

  }

  

/* Определение ключевых кадров анимации */
@keyframes fadeOut {
  0% {
    opacity: 1; /* Начальная непрозрачность */
  }
  100% {
    opacity: 0; /* Конечная непрозрачность (полностью прозрачный) */
  }
  }

  /* Применение анимации к элементу */
  .element-to-fade {
    animation: fadeOut 0.5s ease-in-out; /* Название анимации, продолжительность и функция плавности */
  }


  @keyframes fadeIn {
    0% {
      transform: translateY(100%);
      opacity: 0; /* Начальная непрозрачность */
    }
    100% {
      transform: translateY(0);
      opacity: 1; /* Конечная непрозрачность (полностью прозрачный) */
    }
    }
  
    /* Применение анимации к элементу */
    .element-to-fadeIn {
      animation: fadeIn 0.5s ease-in-out; /* Название анимации, продолжительность и функция плавности */
    }
  /*--------------Services---------------*/
 /*--------------------------------------*/



 /*--------------Contact Us---------------*/
 /*--------------------------------------*/

.contact-content {
  background-color: #FEFBF4;
  width: 100%;
  
}

 .contact_bg-img-container,
 .about_bg-img-container {
  height: 280px;
  width: 100%;
  margin-top: 72px;
  position: relative;
  
}

.contact-content_inner-container {
  /* background-color: #1a1a1a; */
  background-color: var(--dark-blue);
  color: #fff;
  -webkit-box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.5);
}

.contact-content_mapTitle {
  font-size: 30px;
}
.contact-content_mapAddress {
  font-size: 20px;
}
.fa-solid {
  color: rgb(204, 15, 15)
}
.fa-triangle-exclamation {
  color: #dc3545;
  font-size: 20px;
}
.fa-square-check {
    color: #28a745;
    font-size: 20px;
}
.btn_subm_custom {
  padding: 12px 18px;
  font-size: 20px;
  transition: all .1s !important;
}

.fa-spin_custom {
  display: none;
}

.btn_subm_custom i {
  
  font-size: 22px;
}

.custom_toast-container {
  top: 5%;
  right: 2%;
  z-index: 999999;
}

.toast_title {
  font-size: 15px;
  
}

.toast_title-red {
  color: #dc3545;
}
.toast_title-green {
  color: #28a745;
}

.toast {
  background-color: rgba(255, 255, 255, 0.96);
  flex-basis: 250px;
}
.contact_bg-img-container::after {

  content: ''; /* Создаем пустой контент для псевдоэлемента */
  position: absolute; /* Устанавливаем абсолютную позицию */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../src/img/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 60% left 0%;
  filter: brightness(0.6); /* Пример фильтра (превращение в черно-белое изображение) */
  z-index: -1; 
}

.about_bg-img-container::after {
  content: ''; /* Создаем пустой контент для псевдоэлемента */
  position: absolute; /* Устанавливаем абсолютную позицию */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../src/img/about_us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 50% left 0%;
  filter: brightness(0.5); /* Пример фильтра (превращение в черно-белое изображение) */
  z-index: -1; 
}

.map-container {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 43px -13px rgba(224,244,245,0.56);
  -moz-box-shadow: 0px 0px 43px -13px rgba(224,244,245,0.56);
  box-shadow: 0px 0px 43px -13px rgba(224,244,245,0.56);
}
.contact-content_inner-container {
  border-radius: 10px;
}


.form-control {
  transition: box-shadow .1s;
  border: 1.5px solid var(--blue-gray);
}


.form-control:focus {
    border: 1px solid rgb(36, 139, 202);
}

@media (max-width: 560px) {
  .services_bg-img-container,
  .contact_bg-img-container,
  .about_bg-img-container {
    height: 220px;
  }
  .services_bg-img-container .main-title,
  .contact_bg-img-container .main-title,
  .about_bg-img-container .main-title
  {
    font-size: 45px;
  }
  .serive-title-item {
    font-size: 16px;
    padding: 5px;
    font-weight: 300;
  }
  .services-content {
    font-size: 18px;
    font-weight: 300;
  
  }
  .serive-title-item.active {
    transform: translatex(5px);
  }
}

@media(max-width: 991px){
  .contact-content_mapTitle {
    font-size: 25px;
  }
  .contact-content_mapAddress {
    font-size: 18px;
  }
}




/*-------------------About Us-----------------*/
/*--------------------------------------------*/

.about_us-tabs-container {
  background-color: var(--semi-dark-blue);  
  font-size: 25px;
  color: #fff;
  
}
.about_us-tab {
  transition: all .3s;
}
.about_us-tab.active {
  background-color: var(--extra-light-blue);
  color: var(--dark-blue);
  
}
.about_us-tab:hover {
  cursor: pointer;
}
#about_us-content {
  font-weight: 300;
  font-size: 1.3rem;
  color: var(--semi-dark-blue);
}



/*------------------Lawyers-------------------*/
/*--------------------------------------------*/

.lawyers_bg-img-container {
  position: relative;
  margin-top: 72px;
  height: 70vh;
}
.lawyers_bg-img-container .main-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  background-size: cover;
}
.lawyers_video-container {
  height: 100%; /* Ширина для экранов шире 576px */
  width: 100%; /* Максимальная ширина для меньших экранов */
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  
}

.video-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
.lawyers_video-container video {
  position: relative;
}
.lawyers_video-container video::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
}
.lawyers_video-container #lawyers_video-pc {
  
  
}
.lawyers_video-container #lawyers_video-modile  {
    display: none;
}







.lawyer-card_container {
position: relative;
max-width: 300px;
height: 450px;
margin: auto;
display: flex;
justify-content: center;
background-color: var(--extra-light-blue);

}

.lawyer-card_container::before, .lawyer-card_container::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px; 
  transition: 0.3s ease-in-out;
}
.lawyer-card_container::before {
  top: -5px;
  left: -5px;
  border-top: 1.5px solid var(--blue-gray);
  border-left: 1.5px solid var(--blue-gray);
}
.lawyer-card_container::after {
  right: -5px;
  bottom: -5px;
  border-bottom: 1.5px solid var(--blue-gray);
  border-right: 1.5px solid var(--blue-gray);
}
.lawyer-card_container:hover::before, .lawyer-card_container:hover::after {
  width: calc(100% + 9px);
  height: calc(100% + 9px);
}

.lawyer-info_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-lawyer-card_container {
  overflow: hidden;
  max-width: 300px;
  max-height: 300px;
  
}
.img-lawyer-card_container img {
  width: 100%;
  transform: scale(1.5);
  
}

.lawyer-email {
  position: relative;
  z-index: 10;
}

.lawyer-email {
  color: #000;
  text-decoration: none;
  position: relative;
  transition: .1s;
}
.lawyer-email:hover {
  color: var(--info);
}

.lawyer-email::before {
  content: '';
  bottom: -1px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: var(--blue-gray);
  transition: .3s;
  transform: scaleX(0);
}
.lawyer-email:hover:before {
  width: 100%;
  transform: scaleX(1.0);
}

.employee[data-id="0"] .img-lawyer-card_container img {
    transform: scale(2.8);
    margin-top: 142px;
    margin-left: 31px;
}
.employee[data-id="1"] .img-lawyer-card_container img {
  transform: scale(1);
}
.employee[data-id="2"] .img-lawyer-card_container img {
  transform: scale(1.5);
  margin-left: -34px;
}
.employee[data-id="3"] .img-lawyer-card_container img {
  transform: scale(1.2);
  margin-top: 20px;
}
.employee[data-id="4"] .img-lawyer-card_container img {
  transform: scale(2.4);
  margin-top: 124px;
}
.employee[data-id="5"] .img-lawyer-card_container img {
  transform: scale(1.4);
  margin-top: 74px;
}
.employee[data-id="6"] .img-lawyer-card_container img {
  transform: scale(1);
}

.employee[data-id="7"] .img-lawyer-card_container img {
  transform: scale(2.95);
  margin-top: 147px;
  margin-left: 10px;
}

.employee[data-id="8"] .img-lawyer-card_container img {
  transform: scale(1.2);
  margin-top: 20px;
}
.employee[data-id="9"] .img-lawyer-card_container img {
    transform: scale(2.4);
    margin-top: 123px;
    margin-left: -122px;
}
.employee[data-id="10"] .img-lawyer-card_container img {
  transform: scale(1.3);
    margin-top: 40px;
}
@media screen and (max-width: 576px) {
  .lawyers_bg-img-container {
    height: 50vh;
  }
  .lawyers_bg-img-container .main-title {
    font-size: 2rem;
  }
  .lawyers_video-container #lawyers_video-pc {
    display: none;
  }
  .lawyers_video-container #lawyers_video-modile  {
      display: block;
      transform: scale(0.7);
      margin-top: -654px;
      margin-left: -259px;
  }
  
}

@media  screen and (min-width:1920px) {
  .lawyers_video-container #lawyers_video-pc {
    object-fit:0;
    
    width: 100%;
}

}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .lawyers_video-container #lawyers_video-pc {
    transform: scale(0.8);
    margin-top: -132px;
    margin-left: -653px;
  }
  .lawyers_bg-img-container {
   
    height: 50vh;
  }
  .img-lawyer-card_container {
      max-height: 240px;
  }
  .lawyer-card_container {
      height: 380px;  
  }

  .employee[data-id="0"] .img-lawyer-card_container img {
    transform: scale(2.8);
    margin-top: 110px;
    margin-left: 31px;
  }
  .employee[data-id="1"] .img-lawyer-card_container img {
    transform: scale(1.1);
    margin-left: 5px;
  }
  .employee[data-id="2"] .img-lawyer-card_container img {
    transform: scale(1.5);
    margin-left: -45px;
  }
  
  .employee[data-id="3"] .img-lawyer-card_container img {
    transform: scale(1.4);
    margin-top: 43px;
  }
  .employee[data-id="4"] .img-lawyer-card_container img {
    transform: scale(2.2);
    margin-top: 90px;
  }
  .employee[data-id="5"] .img-lawyer-card_container img {
    transform: scale(1.5);
    margin-top: 82px;
    margin-left: -9px;
  }
  .employee[data-id="6"] .img-lawyer-card_container img {
    transform: scale(1.1);
    margin-left: 10px;
  }
  .employee[data-id="7"] .img-lawyer-card_container img {
    transform: scale(2.95);
    margin-top: 121px;
  }
  .employee[data-id="8"] .img-lawyer-card_container img {
    transform: scale(1.1);
    margin-top: 10px;
  }
  .employee[data-id="9"] .img-lawyer-card_container img {
    transform: scale(2.4);
    margin-top: 102px;
    margin-left: -102px;
  }
  .employee[data-id="10"] .img-lawyer-card_container img {
    transform: scale(1.2);
    margin-top: 16px;
    margin-left: 10px;
  }
  
}


@media screen and (min-width: 1200px) {
  .img-lawyer-card_container {
      max-height: 300px;
  }
 
  
  .employee[data-id="0"] .img-lawyer-card_container img {
    transform: scale(3.2);
    margin-top: 158px;
    margin-left: 31px;
  }
    .employee[data-id="1"] .img-lawyer-card_container img {
    transform: scale(1.1);
    margin-left: 5px;
  }
  .employee[data-id="2"] .img-lawyer-card_container img {
    transform: scale(1.5);
    margin-left: -46px;
    margin-top: 20px;
  }
  
  .employee[data-id="3"] .img-lawyer-card_container img {
    
  }
  .employee[data-id="4"] .img-lawyer-card_container img {
    transform: scale(2.8);
    margin-top: 140px;
  }
  .employee[data-id="5"] .img-lawyer-card_container img {
    transform: scale(1.6);
    margin-top: 102px;
    margin-left: -20px;
  }
  .employee[data-id="6"] .img-lawyer-card_container img {
    transform: scale(1.5);
    margin-top: 46px;
  }
   .employee[data-id="7"] .img-lawyer-card_container img {
    transform: scale(3.5);
    margin-top: 167px;
    margin-left: 16px;
  }
  .employee[data-id="8"] .img-lawyer-card_container img {
    transform: scale(1.4);
    margin-top: 51px;
  }
  .employee[data-id="9"] .img-lawyer-card_container img {
    transform: scale(3.1);
    margin-top: 162px;
    margin-left: -142px;
  }
  .employee[data-id="10"] .img-lawyer-card_container img {
    transform: scale(1.6);
    margin-top: 70px;
    margin-left: 10px;
  } 
  
}


